ORGANIZATION=OrganizationName
PERSONAL_ACESS_TOKEN=#ACESSAR  https://dev.azure.com/{OrganizationName}/_usersSettings/tokens -> +New Token
# URL_TASKS=https://analytics.dev.azure.com/%s/%s/_odata/v4.0-preview/WorkItems
# URL_TASKS="https://analytics.dev.azure.com/%s/%s/_odata/v4.0-preview/WorkItems?$select=Custom_Prazoss,WorkItemId,Title,WorkItemType,State,StateCategory,Activity,CompletedWork,OriginalEstimate,Count,CommentCount,ParentWorkItemId&$expand=Project($select=ProjectName),AssignedTo($select=UserName,UserEmail)"
URL_TASKS="https://dev.azure.com/%s/_apis/wit/workitems?ids=%s&fields=System.Id,System.Title,System.WorkItemType,System.State,Microsoft.VSTS.Scheduling.CompletedWork,Microsoft.VSTS.Scheduling.OriginalEstimate,System.Parent,System.AreaPath,Custom.Prazoss,System.AssignedTo,System.TeamProject,Microsoft.VSTS.Common.Activity&api-version=7.0"
URL_LIST_TASKS="https://dev.azure.com/%s/%s/_apis/wit/wiql?api-version=7.0"
PROJECT_DEFAULT=CUIABA-MT-BRASIL
PROJECTS=SITE-NOVO,CONTROLE-FINANCEIRO
EMAIL_DEV=NOME.SOBRENOME@domain.com.br
TEMPO_RECARREGAR_PAGINA_MINUTOS=30
URL_ACCESS="https://dev.azure.com/%s/%s/_workitems/edit/%s/"
REQUEST_ONLINE="TRUE"
APP_DEBUG="TRUE"
